<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include('partials/nav') %>
<a href="/upload"><img src="/uploads/images/<%= newuser.profileImage %>" class="profile-img" alt="Img Not found"></a>
    <h2><%= newuser.username %> </h2>
    <h2><%= newuser.gender %> </h2>
    <h2><%= newuser.email %> </h2>
 
<%- include('partials/footer')%>